### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Logs ###
*.log

### Runtime data ###
pids
*.pid
*.seed
*.pid.lock

### Coverage directory used by tools like istanbul ###
coverage/

### Dependency directories ###
node_modules/

### Optional npm cache directory ###
.npm

### Optional REPL history ###
.node_repl_history